# bot_output folder in Assets
/assets/bot_output/*.*

# Node Modules folder
/node_modules/

# Config file
/config.json

# Environment variable file
/.env

# Linter config
/.eslintrc.json
